---
title: Appearance
tags: Design
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				
				<div class="row">
					<div class="large-12 columns">
						<h3>Evolution of <em>Cybersecurity Matters</em></h3>
					</div>
				</div>
				<br>
				<div class="row">
					
					<div class="large-6 columns">
						<p>
							One of the challenges describing topics in cybersecurity is illustrating a hacker. There isn't a hard and fast stereotype to characterize a masked figure behind a computer screen. I created a simple drawing to resemble a hacker, a malicious internet user. The drawing is resembled after an anonymous figure with a fedora hat. One of the drawing included glasses, akin to a mysterious figure popularized in computer hacking related movies in the 1900s.
						</p>
					</div>
					<div class="large-6 columns">
						<p>
							<strong>How I emulated my models:</strong>
							<br>
							The color model I used focused on a dark navy blue background contrasted with white and orange foreground colors. For the text, I interplayed all types of colors against a contrasting background.
						</p>
					</div>

				</div>

				<br>
				<div class="row">
					<div class="large-12 columns">
						<ul class="example-orbit" data-orbit>
							<li>
								<img src="/resources/hacker-icon.png" alt="{{ page.title }} Display">
								<div class="orbit-caption">1st {{ page.title }} Display</div>
							</li>
							<li>
								<img src="http://placehold.it/920x512&text=1st+Revised+Display" alt="Revised Display">
								<div class="orbit-caption">1st Revised Display</div>
							</li>

						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>First Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>My first critic pointed out that the icon represented a suspicious figure, correlating to a hacker. The glasses did not affect much of the appearance. She felt the background of the first variant (with the code background) added to the context of hacking and blended well with the opacity amount. She preferred the first one since the additional features of the icon reinforces the anonymity concept.</p>
							<p><strong>Revisions based on this critique</strong></p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>It wasn't apparent to him immediately as to what the figure was since the curve around the ears were not as definitive, and the position of the glasses were a little off. The text and color scheme had a very techy feel to it and helped convey the overall idea. He preferred the more minimalist approach of the second figure since the coding background in the first was a little distracting.</p>
							<p><strong>Revisions based on this critique</strong></p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>My third critic pointed out immediately the shape of a detective, mysterious figure since the full silhouette adds to the anonymity. The background coding text in the first image further reinforced the concept. She preferred the first over the second primarily due to the inverted color combination with the coding text in the background. She also felt that the placement for both variants are asymmetrical and well laid out.</p>
							<p><strong>Revisions based on this critique</strong> </p>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>Second Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
					</div>
				</div>
				<br>
				<p class="sources">
					Sources: The data/inspiration for this display came from the following sources...
				</p>
			</div>
		</div>
	</div>
	

    {% include footer.html %}
  </body>
</html>
