---
title: Appearance
tags: Design
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				
				<div class="row">
					<div class="large-12 columns">
						<h3>Evolution of <em>Cybersecurity Matters</em></h3>
					</div>
				</div>
				<br>
				<div class="row">
					
					<div class="large-6 columns">
						<p>
							I created a drawing of a fort enclosed in a circle with slightly visible numbers in the background to illustrate the notion of a secured system. The fort represents a secured infrastrucure, surrounded by a circle that represents a secured perimeter. I utilized an opaque background of numbers to represent code, that resided in a company's infrastructure.
						</p>
						<p>
							In response to the feedback I received, I revised one of the icons. I decided to do away with the white background as it would be difficult to incorporate into the model that I chose. The code in the background was moved into the inner circle and made less obvious in response to my feedback; this was a pleasant challenge for me as I had to figure out how to have text fit in the circle. I also reduced the use of green in the final icon since the focus was in the icons, not the colors.
						</p>
					</div>
					<div class="large-6 columns">
						<p>
							<strong>How I emulated my models:</strong>
							<br>
							The color model I used focused on a dark navy blue background contrasted with white and orange foreground colors.I experimented with a white background against greyed out code to emulate a programming interface. In the revised version, I balanced the use of the primary foreground colors (white, green, and orange) as to not distract viewers from the icon. 
						</p>
					</div>

				</div>

				<br>
				<div class="row">
					<div class="large-12 columns">
						<ul class="example-orbit" data-orbit>
							<li>
								<img src="/resources/security_icon_1.png" alt="{{ page.title }} Display">
								<div class="orbit-caption">1st {{ page.title }} Display</div>
							</li>
							<li>
								<img src="/resources/security_icon_2.png" alt="Revised Display">
								<div class="orbit-caption">1st Revised Display</div>
							</li>

						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>First Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>My first critic pointed out that the icon represented a fort. The flag reinforced the representation of the icon as a fort. She felt the background of the first variant (with the code background) added to the context of hacking and blended well with the opacity amount. She preferred the first one since it conveyed the message of a secured infrastructure better.</p>
							<p>
								<strong>
									Revisions based on this critique
								</strong>
								<br>
								I kept the code background idea in the final revision, but placed it within the circle to represent a 'secured' system.
							</p>
							<p>
								
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>While the figure of a fort was immediate, he did not immediately grasp the connection of the icon to security. However, the text and color scheme had a very techy feel to it and helped convey the overall idea. He preferred the more minimalist approach of the second figure since the coding background in the first was a little distracting.</p>
							<p>
								<strong>
									Revisions based on this critique
								</strong>
								<br>
								In line with a more minimalist approach, I used the darker background for my revised icon, while keeping the coding element in it, even though with a smaller amount of text.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>My third critic pointed out immediately the shape of a fort. The background coding text in the first image further reinforced the concept of security. She preferred the first over the second primarily due to the inverted color combination with the coding text in the background. She also felt that the placement for both variants are asymmetrical and well laid out. She suggested that the wordings 'SECURE' should be placed closer in the circle.</p>
							<p>
								<strong>
									Revisions based on this critique
								</strong>
								<br>
								The revised icon had its placement of text revised, with the words 'SECURE' repositioned closer into the circle.
							</p>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>Second Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
					</div>
				</div>
				<br>
				<p class="sources">
					Sources: The data/inspiration for this display came from the following sources...
				</p>
			</div>
		</div>
	</div>
	

    {% include footer.html %}
  </body>
</html>
