---

title: InfoVis

---
<!doctype html>
<html class="no-js" lang="en">

{% include header.html %}

  <body>

    {% include navbar.html %}

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <div class="row">
            <div class="large-12 columns text-center">
              <p>This infographic was created in 2014 as part of a class project</p>
            </div>
          </div>
          <ul class="clearing-thumbs" data-clearing>
            <li>
              <a href="http://placehold.it/940x1330&text=Final Infographic">
                <img src="http://placehold.it/940x1330&text=Final Infographic" alt="The Final Infographic">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
 
    
    {% include footer.html %}
  </body>
</html>
