---

title: InfoVis

---
<!doctype html>
<html class="no-js" lang="en">

{% include header.html %}

  <body>

    {% include navbar.html %}

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <div class="row">
            <div class="large-12 columns text-center">
              <p>This infographic was created in 2014 as part of a class project</p>
            </div>
          </div>
            <a href="/resources/layouts/Layout1stRevisedFinal.png">
              <img src="/resources/final/th_infographic.png" alt="Final Infographic">
            </a>
        </div>
      </div>
    </div>
 
    
    {% include footer.html %}
  </body>
</html>
