---
title: Numbers
tags: Design
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">

				<div class="row">
					<div class="large-12 columns">
						<h3>
						Evolution of Medical Patient Data Breach chart
						</h3>
					</div>
				</div>
				<br>
				<div class="row">

					<div class="large-6 columns">
						<p>
              In this display, I’m trying to convey a sense of how many records of patient data is lost due to data breaches as a result of hacking. I first experimented with three different display strategies in Excel (as seen in the slide show below). The number of medical records lost are encoded by the slices in the pie chart in the first display, the vertical bars in the second display and with the horizontal bars in the third display. The second and third display allows me to easily identify the distribution of how much data is lost across the states. While the pie chart indicates which state had the greatest number of patient data lost, the bar charts, especially the horizontal bar chart conveyed the message most effectively that there is one substantial amount of data loss in one of the states. The pie chart has a greater graphical representation of the data, but may be distracting due to the smaller slices.
						</p>
					</div>
					<div class="large-6 columns">
						<p>
							<strong>How I emulated my models:</strong>
							<br>
							In Excel, I formatted the horizontal bar chart to emulate my color model. I used the same background and foreground colors, using the bright foreground colors sparingly for the narrow data bars and also the vertical lines. I removed the horizontal axis line to reduce the visual clutter but kept the vertical lines to help viewers distinguish the numbers better. In Illustrator, I changed the fonts used to adopt a more professional look. In the revised model, I emulated the color styles more closely, placing emphasis on some text and the main data values. This was acheived by changing the color of the labels to green.
						</p>
					</div>

				</div>

				<br>
				<div class="row">
					<div class="large-12 columns">
						<ul class="example-orbit" data-orbit>
							<li>
								<a href="/resources/numbers/IllustratorBarChartRevised2.png">
									<img src="/resources/numbers/IllustratorBarChartRevised2.png" alt="2st Revised {{ page.title }} Display">
								</a>
								<div class="orbit-caption">2nd revised {{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/IllustratorBarChartRevised.png">
									<img src="/resources/numbers/IllustratorBarChartRevised.png" alt="1st Revised {{ page.title }} Display">
								</a>
								<div class="orbit-caption">1st revised {{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/IllustratorBarChart.png">
									<img src="/resources/numbers/IllustratorBarChart.png" alt="1st {{ page.title }} Display">
								</a>
								<div class="orbit-caption">1st {{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/formattedbarchart.png">
									<img src="/resources/numbers/formattedbarchart.png" alt="{{ page.title }} Display">
								</a>
								<div class="orbit-caption">{{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/horizontalbarchart.png"></a>
								<img src="/resources/numbers/horizontalbarchart.png" alt="{{ page.title }} Display">
								<div class="orbit-caption">{{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/verticalbarchart.png"></a>
								<img src="/resources/numbers/verticalbarchart.png" alt="{{ page.title }} Display">
								<div class="orbit-caption">{{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/piechart.png"></a>
								<img src="/resources/numbers/piechart.png" alt="{{ page.title }} Display">
								<div class="orbit-caption">{{ page.title }} Display</div>
							</li>
						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>First Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>
								She noticed that the data sets were represented with a bar chart and also as a pie chart. The larger numbers in the bar chart are located at the bottom. She preferred the bar chart compared to the pie chart since its better for including more details, and suggested to use the top 10 data sets if I were to proceed with the pie chart. It would make more sense if the data were to be arranged in descending format to better emphasize on the loss of patient data.
							</p>
							<p>
							<strong>Revisions based on this critique</strong>
								I attempted at experimenting with a descending data format into the revised edition. It seemed to put emphasis on the highest data values.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>
								She noted that while the pie chart concept was intriguing, too many slices in the pie was not the best approach to conve information, despite being interesting to look at. She felt that the bar chart was the most conducive to convey the information. She also said that it would make more sense to have the larger bars at the bottom, closer to where the scale is. Space wise, she feels that the bar chart would take up more space compared to the pie chart representation.
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								To place emphasis on the bar chart, I lightened the color of the labels to green, leaving the white data bars to stand out more.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>
								She noted that there was a bar chart and a pie chart that represented the data. Personally, she felt that it was more difficult to find the pie chart’s data since the slices were too small, noting that the bar chart was more effective at visually representing data from least to greatest. She considered representing the data in decreasing order and perhaps increasing the scale to show the smaller values that were hardly visible in the first one. She preferred the bar chart for those reasons, and felt that the contrast between the background and the foreground was effective. She also suggested adding actual numbers to the bars since it was difficult to perform estimations with the data set that I was working on.
							</p>
							<p>
							<strong>Revisions based on this critique</strong>
							I added actual numbers next to the data values in the review to provide accuracy. Viewers won't have to look at the bottom of the bar chart to get the number ranges.
							</p>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>Second Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>
								She liked the addition of numbers to the revised number display since it adds more precision to the data. She also liked the use of a descending data arrangement since it emphasizes on the values. An improvement that she suggested was to reflect the text used in the text model since the fonts were similar to the color model. Additionally, she found the labels not standing out enough from the background, which may cause problems for people with color blindness.
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								The fonts used for the labels and also the headings have been changed to better relfect the text model.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>
								She liked the contrast of the revised data display, but she also liked the contrast in the previous display too. She was not sure where the graph would be placed in the final infographic, since that would determine which color scheme to adopt. She liked the addition of specific numbers, and that the perception of data would be the same descending or ascending. She felt the labels do not have that much contrast and that the states label should be bigger. The white lines stood out more to her than most of the content.
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								On top of changing the fonts for the labels, the labels are now colored orange to contrast a little more with the background. In conjunction with the feedback from the first critique, I've also used the proof setup feature in illustrator to ensure that the colors I chose would still be able to show content even to people with color blindness.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>
								He liked the contrast between the foreground and the background in the revised display but found that the fonts used were a little too small since there were too many labels to process. He liked the use of white to show the data bars and had it in decreasing order, placing more emphasis on the larger numbers since they were closer to the top.
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								The font size used for the labels were also increased to improve legibility. To reduce the cluterred feel that larger fonts have, I formatted the vertical axis to not have 'tick marks' near each label, allowing for a more minimal bar chart.
							</p>
						</div>
					</div>
				</div>
				<br>
				<p class="sources">
					Sources: The data/inspiration for this display came from the following sources...
				</p>
			</div>
			<div class="panel">

				<div class="row">
					<div class="large-12 columns">
						<h3>
						Evolution of Number of Medical Data Loss Incidents due to Hacking Heat Map
						</h3>
					</div>
				</div>
				<br>
				<div class="row">

					<div class="large-6 columns">
						<p>
							In this display, I'm trying to convey a sense of how frequent records of patient data is stolen due to hacking. I figured horizontal bars were not as descriptive in conveying the severity of how much data is stolen across states. As such, I resorted to using a map and varying degrees of color brightness to indicate the data. The map allows me to easily identify which regions are most affected by hacking.
						</p>
					</div>
					<div class="large-6 columns">
						<p>
							<strong>How I emulated my models:</strong>
							<br>
							I imported the data into Tableau and used both the number of incidents of medical patient data loss and the states where the incidents occured. Tableau automatically created geographical locations based on the state names. As such, I experimented with displaying the data on a map with the colors indicating the number of incidets. After Tableau created the heat map by state, I imported the display to Illustrator and attempted to emulate the color model and my text model. To emulate the color model, I made the background navy blue and made the maps slightly transparent. I also added the header to emulate the text model more closely.
						</p>
					</div>

				</div>

				<br>
				<div class="row">
					<div class="large-12 columns">
						<ul class="example-orbit" data-orbit>
							<li>
								<a href="/resources/numbers/2ndNumberDisplayRevised.png">
									<img src="/resources/numbers/2ndNumberDisplayRevised.png" alt="2nd Revised {{ page.title }} Display">
								</a>
								<div class="orbit-caption">2nd Revised {{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/2ndNumberDisplay.png">
									<img src="/resources/numbers/2ndNumberDisplay.png" alt="2nd {{ page.title }} Display">
								</a>
								<div class="orbit-caption">2nd {{ page.title }} Display</div>
							</li>
						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>First Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>
								It was visible that there was a map with varying brightness and saturation of color to indicate different levels of hacking activity. She assumed that the darker color was the greatest while the lightest was the least. She suggested to have a color scale in the corner to indicate what values the colors represented. She also felt that the description was a little ambiguous and suggested to describe more about the data on the map. The font reflected better in this display compared to the 1st number display.
							</p>
							<p>
							<strong>Revisions based on this critique
							</strong>
							I've included the measurement scale for the varying degrees of contrast used in the map.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>
								She noticed the shades of color on the map but was not sure what the shades represented. She assumed that the darker colors indicated more incidents. She suggested to have a scale since it was not as obvious as to what the values were. She liked the subtle lines that indicated the state borders and found that this display is capable of showing more information than the other data display.
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								Together with the measurement scale, I've also included a caption for the measurement scale and enlarged the scale, matching up well with the size of the map.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>
								He immediately noticed it was like a heat map of the most frequent states prone to hacking, but was not too sure of the exact numbers or the time range. He suggested to add labels or bubbles of numbers above each state to indicate the exact amount of hacking activity in each state. He liked the color use but suggested to include more whites or greens to better reflect the color model, perhaps even using an outline of the states instead of a solid color and circles of varying sizes to indicate the numbers.
							</p>
							<p>
							<strong>Revisions based on this critique</strong>
							I've included the date range in the caption to better reflect the data I am using in this display. Additionally, the outlines between states were set to the same color as the background to place more emphasis on the states.
							</p>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>Second Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>
                She noted that the legend was a good addition which helped clarify the different colors used. However, she noticed that there wasn't a middle point value and was unsure of the scale. She suggested to add a value in the middle. She was not too fond of the dark outlines for each state and suggested to use different weights of strokes to make it less obvious. She liked that the legends are located at the bottom of the picture to balance the display.
              </p>
							<p><strong>Revisions based on this critique</strong></p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>
                She liked the colors used in the numbers display, and noted that the original color model had a texture in the background. She suggested to incorporate the texture into the display to better emulate the color model. She noticed the legend had 5 colors and found it providing a good divide between states. However, she also found the middle area harder to distinguish. She suggested perhaps to use less color variation, depending on the distinction I would want to make. She suggested to have the scale more detailed by having 4 quadrants rather than 5.
              </p>
							<p><strong>Revisions based on this critique</strong></p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>He liked the color scheme used since it contrasts with the background well and it was easy to tell the color differences. He also liked the title and found that the text of the legend could be enlarged since it was a little small. Overall, he liked the placement of the elements in the display. </p>
							<p><strong>Revisions based on this critique</strong></p>
						</div>
					</div>
				</div>
				<br>
				<p class="sources">
					Sources: The data/inspiration for this display came from the following sources...
				</p>
			</div>
		</div>
	</div>

    {% include footer.html %}
  </body>
</html>
