---
title: Numbers
tags: Design
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				
				<div class="row">
					<div class="large-12 columns">
						<h3>
						Evolution of Medical Patient Data Breach chart
						</h3>
					</div>
				</div>
				<br>
				<div class="row">
					
					<div class="large-6 columns">
						<p>
							In this display, I’m trying to convey a sense of how many records of patient data is lost due to data breaches as a result of hacking. I first experimented with three different display strategies in Excel (as seen in the slide show below). The number of medical records lost are encoded by the slices in the pie chart in the first display, the vertical bars in the second display and with the horizontal bars in the third display. The second and third display allows me to easily identify the distribution of how much data is lost across the states. While the pie chart indicates which state had the greatest number of patient data lost, the bar charts, especially the horizontal bar chart conveyed the message most effectively that there is one substantial amount of data loss in one of the states. The pie chart has a greater graphical representation of the data, but may be distracting due to the smaller slices.
						</p>
					</div>
					<div class="large-6 columns">
						<p>
							<strong>How I emulated my models:</strong>
							<br>
							In Excel, I formatted the horizontal bar chart to emulate my color model. I used the same background and foreground colors, using the bright foreground colors sparingly for the narrow data bars and also the vertical lines. I removed the horizontal axis line to reduce the visual clutter but kept the vertical lines to help viewers distinguish the numbers better. In Illustrator, I changed the fonts used to adopt a more professional look.
						</p>
					</div>

				</div>

				<br>
				<div class="row">
					<div class="large-12 columns">
						<ul class="example-orbit" data-orbit>
							<li>
								<a href="/resources/numbers/piechart.png"></a>
								<img src="/resources/numbers/piechart.png" alt="{{ page.title }} Display">
								<div class="orbit-caption">{{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/verticalbarchart.png"></a>
								<img src="/resources/numbers/verticalbarchart.png" alt="{{ page.title }} Display">
								<div class="orbit-caption">{{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/horizontalbarchart.png"></a>
								<img src="/resources/numbers/horizontalbarchart.png" alt="{{ page.title }} Display">
								<div class="orbit-caption">{{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/formattedbarchart.png">
									<img src="/resources/numbers/formattedbarchart.png" alt="{{ page.title }} Display">
								</a>
								<div class="orbit-caption">{{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/numbers/IllustratorBarchart.png">
									<img src="/resources/numbers/IllustratorBarchart.png" alt="{{ page.title }} Display">
								</a>
								<div class="orbit-caption">{{ page.title }} Display</div>
							</li>
						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>First Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>
								She noticed that the data sets were represented with a bar chart and also as a pie chart. The larger numbers in the bar chart are located at the bottom. She preferred the bar chart compared to the pie chart since its better for including more details, and suggested to use the top 10 data sets if I were to proceed with the pie chart. It would make more sense if the data were to be arranged in descending format to better emphasize on the loss of patient data.
							</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>
								She noted that while the pie chart concept was intriguing, too many slices in the pie was not the best approach to conve information, despite being interesting to look at. She felt that the bar chart was the most conducive to convey the information. She also said that it would make more sense to have the larger bars at the bottom, closer to where the scale is. Space wise, she feels that the bar chart would take up more space compared to the pie chart representation.
							</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>
								She noted that there was a bar chart and a pie chart that represented the data. Personally, she felt that it was more difficult to find the pie chart’s data since the slices were too small, noting that the bar chart was more effective at visually representing data from least to greatest. She considered representing the data in decreasing order and perhaps increasing the scale to show the smaller values that were hardly visible in the first one. She preferred the bar chart for those reasons, and felt that the contrast between the background and the foreground was effective. She also suggested adding actual numbers to the bars since it was difficult to perform estimations with the data set that I was working on.
							</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>Second Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
					</div>
				</div>
				<br>
				<p class="sources">
					Sources: The data/inspiration for this display came from the following sources...
				</p>
			</div>
		</div>
	</div>

    {% include footer.html %}
  </body>
</html>
