---
title: Location
tags: Design
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">

				<div class="row">
					<div class="large-12 columns">
						<h3>Evolution of Medical Patient Data Breach</h3>
					</div>
				</div>
				<br>
				<div class="row">

					<div class="large-6 columns">
						<p>
							In this display, I'm trying to convey a sense of how frequent records of patient data is stolen due to hacking. The choropleth map allows me to easily identify which regions are most affected by hacking by varying degrees of color saturation. The choropleth map differs from the one I utilized in my numbers display by omitting the legend and having each state having their own individual value.
							The bubble map utilizes a legend scale but more closely reflected my color model and stylings from the orignial model.
						</p>
					</div>
					<div class="large-6 columns">
						<p>
							<strong>How I emulated my models:</strong>
							<br>
							To keep the same color scheme as my color model, I utilized a dark navy blue background for both variations of the location displays, the bubble map having outlines of states that further reflects the color model I used since most elements in the color model were outlines. For both variations, I also used the same primary colors, orange and teal.
						</p>
					</div>

				</div>

				<br>
				<div class="row">
					<div class="large-12 columns">
						<ul class="example-orbit" data-orbit>
							<li>
								<a href="/resources/location/Location2Revised.png">
									<img src="/resources/location/Location2Revised.png" alt="Revised {{ page.title }} Display">
								</a>
								<div class="orbit-caption">1st Revised {{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/location/Location2.png">
									<img src="/resources/location/Location2.png" alt="1st {{ page.title }} Display Variation">
								</a>
								<div class="orbit-caption">1st {{ page.title }} Display Variation</div>
							</li>
							<li>
								<a href="/resources/location/Location1.png">
									<img src="/resources/location/Location1.png" alt="1st Revised {{ page.title }} Display">
								</a>
								<div class="orbit-caption">1st {{ page.title }} Display</div>
							</li>
						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>First Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>
							She first pointed out the difference in font size used overlaying each state but was not sure if it was done on purpose or to fit within the states. She noticed that the choropleth was more cluttered than the bubble map and was less clean. She pointed out that some of the numbers used in the choropleth were too small, especially the 1. She preferred the second one since the title at the top made more sense and stood out immediately. While the bubbles corresponded to value, the legend was too small and noted that there were no in-between values. She suggested adding more precision or focus on large or small values only.
                            </p>
							<p>
								<strong>Revisions based on this critique</strong>
								While altering the bubble map, I decided to add add more emphasis to the legends by increasing their size, and included the ranges of values they would represent. I paid close attention to the number of bubbles I would include, and gave a maximum of 4 bubbles, enough to provide a reference point to viewers, which better reflects focus on the larger and smaller values.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>She liked the choropleth map better since it was more obvious to her what was being presented. She noticed that the size of the numbers changed from one place to another depending on the value. She noted that the bubble map had a better visual idea, but the scope was not too detailed since it was harder to see the differences between states, particularly Texas and California. The bubble map emulated the color scheme better and was more clear in terms of the text used.</p>
							<p>
								<strong>Revisions based on this critique</strong>
								I attempted to incorporate some of the choropleth map's visual elements and the base model into the bubble map. I did this by adding a fill to the states with a neutral gray background, and using orange to add more contrast to the bubbles.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>My first critique pointed out that the bubble map's opaque feel was more appealing and was easier to convey their locations. He found it had a sense of urgency and was more suited to the topic. He also liked the use of varying font size in the choropleth map but found that it was confusing with the lack of legends. My critque also pointed out that the legends in the bubble map were too small and only realized it later.</p>
							<p>
								<strong>Revisions based on this critique</strong>
								I modified the legends taking elements that worked well in my other numbers display by including larger legends and their numeric ranges to give better context. Placement was a little challenging as I required more space to include the larger legends. I experimented with having the legends placed to the right of the title but felt that there was a lack of balance in the overall display. I finally settled on a lower left placement, while shifting the adjacent states (Alaska and Hawaii) to the right.
							</p>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>Second Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
					</div>
				</div>
				<br>
				<p class="sources">
					Sources: The data/inspiration for this display came from the following sources...
				</p>
			</div>
		</div>
	</div>

    {% include footer.html %}
  </body>
</html>
