---
title: Location
tags: Design
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				
				<div class="row">
					<div class="large-12 columns">
						<h3>Evolution of Medical Patient Data Breach</h3>
					</div>
				</div>
				<br>
				<div class="row">
					
					<div class="large-6 columns">
						<p>
							In this display, I'm trying to convey a sense of how frequent records of patient data is stolen due to hacking. The choropleth map allows me to easily identify which regions are most affected by hacking by varying degrees of color saturation. The choropleth map differs from the one I utilized in my numbers display by omitting the legend and having each state having their own individual value.
							The bubble map utilizes a legend scale but more closely reflected my color model and stylings from the orignial model. 
						</p>
					</div>
					<div class="large-6 columns">
						<p>
							<strong>How I emulated my models:</strong>
							<br>
							To keep the same color scheme as my color model, I utilized a dark navy blue background for both variations of the location displays, the bubble map having outlines of states that further reflects the color model I used since most elements in the color model were outlines. For both variations, I also used the same primary colors, orange and teal.
						</p>
					</div>

				</div>

				<br>
				<div class="row">
					<div class="large-12 columns">
						<ul class="example-orbit" data-orbit>
							<li>
								<a href="/resources/location/Location1.png">
									<img src="/resources/location/Location1.png" alt="1st Revised {{ page.title }} Display">
								</a>
								<div class="orbit-caption">1st {{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/location/Location2.png">
									<img src="/resources/location/Location2.png" alt="1st {{ page.title }} Display Variation">
								</a>
								<div class="orbit-caption">1st {{ page.title }} Display Variation</div>
							</li>
						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>First Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>Second Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>Example: "My first critic definitely pointed out that the icon showing...placed too much emphasis on.... She wasn't sure what the ...icon represented, but really like the...because..."</p>
							<p><strong>Revisions based on this critique</strong> Example: "I completely redid the...icon and adjusted the ...icon by taking out the..."</p>
						</div>
					</div>
				</div>
				<br>
				<p class="sources">
					Sources: The data/inspiration for this display came from the following sources...
				</p>
			</div>
		</div>
	</div>

    {% include footer.html %}
  </body>
</html>
