---
title: Design Process
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<div class="row">
					<div class="large-3 columns">
						<a href="/design/numbers" class="th"><img src="http://placehold.it/160x90" alt="Placeholder"></a>
					</div>
					<div class="large-9 columns">
						<h3>Numbers</h3>
						<p>Write down 1-2 sentences about your numeric displays</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="large-3 columns">
						<a href="/design/location" class="th"><img src="http://placehold.it/160x90" alt="Placeholder"></a>
					</div>
					<div class="large-9 columns">
						<h3>Locations</h3>
						<p>Write down 1-2 sentences about your location displays</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="large-3 columns">
						<a href="/design/appearance" class="th"><img src="http://placehold.it/160x90" alt="Placeholder"></a>
					</div>
					<div class="large-9 columns">
						<h3>Appearance</h3>
						<p>Write down 1-2 sentences about your appearance displays</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="large-3 columns">
						<a href="/design/relationships" class="th"><img src="http://placehold.it/160x90" alt="Placeholder"></a>
					</div>
					<div class="large-9 columns">
						<h3>Relationships</h3>
						<p>Write down 1-2 sentences about your relationships displays</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="large-3 columns">
						<a href="/design/time" class="th"><img src="http://placehold.it/160x90" alt="Placeholder"></a>
					</div>
					<div class="large-9 columns">
						<h3>Time</h3>
						<p>Write down 1-2 sentences about your time displays</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="large-3 columns">
						<a href="/design/layouts" class="th">
							<img src="http://placehold.it/160x90" alt="Placeholder">
						</a>
					</div>
					<div class="large-9 columns">
						<h3>Layouts</h3>
						<p>Write down 1-2 sentences about your layouts</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    {% include footer.html %}
  </body>
</html>
