---
title: Design Process
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h3>Video tour</h3>
				<div class="row">
					<div class="large-4 columns">
						<div class="flex-video"><iframe width="420" height="315" src="//www.youtube.com/embed/aiBt44rrslw" frameborder="0" allowfullscreen></iframe></div>
						<p>
							<strong>Part 1</strong>
							Brief description of what is covered in this part
						</p>
					</div>
					<div class="large-4 columns">
						<div class="flex-video"><iframe width="420" height="315" src="//www.youtube.com/embed/aiBt44rrslw" frameborder="0" allowfullscreen></iframe></div>
						<p>
							<strong>Part 2</strong>
							Brief description of what is covered in this part
						</p>
					</div>
					<div class="large-4 columns">
						<div class="flex-video"><iframe width="420" height="315" src="//www.youtube.com/embed/aiBt44rrslw" frameborder="0" allowfullscreen></iframe></div>
						<p>
							<strong>Part 3</strong>
							Brief description of what is covered in this part
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    {% include footer.html %}
  </body>
</html>
