---
title: Time
tags: Design
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				
				<div class="row">
					<div class="large-12 columns">
						<h3>Evolution of Craft Beer: Throughout the Ages</h3>
					</div>
				</div>
				<br>
				<div class="row">
					
					<div class="large-6 columns">
						<p>
							Craft Beer has a long history in the United States. I took important events from the early 1900s and placed those events on a timeline display. Both displays exhibit magnitude, and the distances between events. 
						</p>
					</div>
					<div class="large-6 columns">
						<p>
							<strong>How I emulated my models:</strong>
							<br>
							Consistent with my color model, I used a navy blue background, and orange and teal foreground colors. I attempted to have a balance of orange and teal to not clutter the displays. The body text has elements taken from my base model, with an attempt to estabish a visual heirarcy with the text size and weights.
						</p>
					</div>

				</div>

				<br>
				<div class="row">
					<div class="large-12 columns">
						<ul class="example-orbit" data-orbit>
							<li>
								<a href="/resources/time/TimeDisplay2ndRevised.png">
									<img src="/resources/time/TimeDisplay2ndRevised.png" alt="1st {{ page.title }} Display Revised">
								</a>
								<div class="orbit-caption">1st {{ page.title }} Display Revised</div>
							</li>
							<li>
								<a href="/resources/time/TimeDisplay1.png">
									<img src="/resources/time/TimeDisplay1.png" alt="1st {{ page.title }} Display">
								</a>
								<div class="orbit-caption">1st {{ page.title }} Display</div>
							</li>
							<li>
								<a href="/resources/time/TimeDisplay2.png">
									<img src="/resources/time/TimeDisplay2.png" alt="1st {{ page.title }} Display Variant">
								</a>
								<div class="orbit-caption">1st {{ page.title }} Display Variant</div>
							</li>
						</ul>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>First Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>
								In the horizontal timeline, he found it harder to follow the blurbs for each event since they were not aligned. He did like the vertical timeline more since it had more visual structure and still conveyed the message clearly.  An improvement he suggested was to increase the size of the text showing the years in the vertical timeline.
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								I kept elements from the vertical timeline, specifically the clean visual structure that it has. The text size of the years were increased and highlighted in the revised display.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>
								He liked the vertical timeline more than the horizontal timeline because it had a more uniform criss-cross layout. He noted that the circle along the axis was unable to show precision and noted to perhaps modify it if I wanted to show precise date ’t that obvious as to where they started.
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								I wanted to keep the precision of the years and decided to have large texts for the years and placed in the bubbles to further highlight them.
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>
								She also liked the vertical timeline since it had a more balanced structure compared to the horizontal timeline. She noted that the years in the axis were not very visible. She said she was drawn to the years in the bubbles but found it still visually cluttered and harder to keep track of the message. She suggested to experiment with larger circles in the vertical timeline and perhaps increase the size of the year text too.
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								I experimented with larger circles in the revised display, specifically having the years in the bubbles to highlight the years. To keep the visual structure and establish a zig-zag sequence, I had the bubbles alternate from left to right.
							</p>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 columns">
						<h3>Second Iteration</h3>
						<div class="large-4 columns">
							<h4>Critique #1</h4>
							<p>
								
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #2</h4>
							<p>
								
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								
							</p>
						</div>
						<div class="large-4 columns">
							<h4>Critique #3</h4>
							<p>
								
							</p>
							<p>
								<strong>Revisions based on this critique</strong>
								
							</p>
						</div>
					</div>
				</div>
				<br>
				<p class="sources">
					Sources: The data/inspiration for this display came from the following sources...
				</p>
			</div>
		</div>
	</div>

    {% include footer.html %}
  </body>
</html>
