---
title: Models
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				
				<div class="row">
					<div class="large-5 columns">
						<a href="#" class="th">
							<img src="http://placehold.it/440x300&text=Color+Model" alt="Color Model">
						</a>
						
						<p>
						<hr>
							(The image above should link to the webpage where the original infographicl can be found). Brief description of why you chose this infographic as your model for color.
						</p>
					</div>
					<div class="large-5 columns">
						<a href="#" class="th">
							<img src="http://placehold.it/440x300&text=Typography+Model" alt="Typography Model">
						</a>
						<p>
						<hr>
							(The image above should link to the webpage where the original infographic can be found). Brief description of why you chose this infographic as your model for typography.
						</p>
					</div>
				</div>

				<br>
				<div class="row">
					<div class="large-5 columns">
						<a href="#" class="th">
							<img src="http://placehold.it/440x300&text=Layout+Model" alt="Layout Model Model">
						</a>
						<p>
							<hr>
							(The image above should link to the webpage where the original model can be found). Brief description of why you chose this infographic as your model for layout.
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>

    {% include footer.html %}
  </body>
</html>
