---
title: Models
---
<!doctype html>
<html lang="en">
{% include header.html %}

  <body>

    {% include navbar.html %}

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">

				<div class="row">
					<div class="large-5 columns">
						<a href="http://ffctn.com/lib/images/infographics/infographic-honeybees-full.png" class="th">
							<img src="/resources/th_layoutmodel.png" alt="Color Model">
						</a>

						<p>
						<hr>
							The color scheme is reminiscent to the colors of beer and has a neutral tone background, great for contrasting with many forms of displays. Overall, it provides a good blend of foreground and background color.
						</p>
					</div>
					<div class="large-5 columns">
						<a href="/resources/WinterStormsbyWeatherUnderground.png" class="th">
							<img src="/resources/th_typographymodel.png" alt="Typography Model">
						</a>
						<p>
						<hr>
							The typography model takes advantage of Open Sans' versatile styles, while keeping a highly professional look. Both the headers and annotations used are legible and keeps the professional and slightly muted look. It feels very professional and does not draw too much attention to itself.
							<em>I will also use this as my base model as well.</em>
						</p>
					</div>
				</div>

				<br>
				<div class="row">
					<div class="large-5 columns">
						<a href="http://ffctn.com/lib/images/infographics/infographic-honeybees-full.png" class="th">
							<img src="/resources/th_layoutmodel.png" alt="Layout Model">
						</a>
						<p>
							<hr>
							The layout model has a coherent visual heirarchy and flow, boxed sections and has displays with varying sizes to show importance. The vertical layout of the infographic is also visually pleasing.
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>

    {% include footer.html %}
  </body>
</html>
